
.input-with-dropdown {
  position: relative;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #f0f0f0;
}

.scan-grid {
  background-color: #082f59;
  position: relative;
  padding-top: 12px;
}

.loading {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.scan-title {
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
}

.scan-input {
  display: flex;
  flex-direction: column; /* Stack form elements vertically */
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.scan-input input {
  padding: 12px 14px;
  border-radius: 15px;
  border: none;
  outline: none;
  width: 300px;
  max-width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
}

.scan-input select {
  padding: 12px 14px;
  border-radius: 15px;
  border: none;
  outline: none;
  width: 300px;
  max-width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
}

.scan-input label {
  padding: 1%;
  color: #ffffff;
  margin-top: 10px;
}

.nonstop-checkbox {
  margin-top: 15px;
  display: flex; /* Ensure the label and checkbox are inline */
  justify-content: center; /* Center the label and checkbox horizontally */
  align-items: center; /* Align the checkbox and text vertically */
  width: 300px;
  margin-left: 270px; /* Moves the checkbox and label slightly to the right */
}

.scan-button {
  margin: 1rem;
  display: block;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 19px;
  font-size: 16px;
  cursor: pointer;
}

.scan-button:hover {
  background-color: #3e8e41;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .scan {
    display: grid;
    justify-content: center;
    background-color: #082f59;
  }
  .scan-input {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
  }
}


